{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>회원가입</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">

    <!-- Card CSS -->
{#    <link href="{% static 'www/css/small-card.css' %}" rel="stylesheet">#}
    <link href="{% static 'css/blog-cards.css' %}" rel="stylesheet">


</head>

<body id="page-top" class="bg-dark">

<div id="wrapper">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home"
                        aria-selected="true">회원가입</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input name="username" type="text" id="username" class="form-control"
                                                    placeholder="First name"
                                                    required="required" autofocus="autofocus">
                                            <label for="username">이름</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input name="email" type="email" id="email" class="form-control"
                                            placeholder="Email address" required="required">
                                    <label for="email">이메일 주소(로그인시 사용됩니다.)</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input name="address" type="text" id="address" class="form-control"
                                            placeholder="Home address" required="required">
                                    <label for="address">주소</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input name="password" type="password" id="password" class="form-control"
                                                    placeholder="Password" required="required">
                                            <label for="password">비밀번호</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-label-group">
                                            <input name="password_verify" type="password" id="password_verify"
                                                    class="form-control"
                                                    placeholder="Confirm password" required="required">
                                            <label for="password_verify">비밀번호 확인</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" value="회원가입 완료">
                        </form>
                        <div class="text-center">
                            <a class="d-block small mt-3" href="{% url 'login' %}">로그인 하기</a>
                            <a class="d-block small mt-2" href="{% url 'index' %}">홈으로</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">안녕히 가세요.</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">정말 로그아웃 하시겠습니까?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-primary" value="로그아웃">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin.min.js' %}"></script>

</body>

</html>
